<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/2dabe3e7b7.js" crossorigin="anonymous"></script>
    <title><%=myusername%></title>
</head>

<!-- Theme Select -->

<% if(profile.theme) { %>
    <%-include(`themes/${profile.theme}.ejs`)%>
<% } else { %>
    <%-include('themes/default.ejs')%>
<% } %>

<body>
    <%      
    
    const fontawesomeICONS = {
        email: 'fas fa-envelope',
        apple_music: 'fab fa-itunes',
        apple_podcast: 'fas fa-podcast',
        apple_appstore: 'fab fa-app-store-ios',
        apple_playstore: 'fab fa-google-play',
        payment: 'far fa-credit-card',
    }

    const svgImages = {
        clubhouse: `<svg style="margin: 15px 14px;" class="profileIcon" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.67665 4.12151C9.23784 3.35363 8.58069 3.4637 8.39815 3.58821C8.30852 3.64935 8.16926 3.7962 8.10723 4.00259C8.05179 4.18702 8.04323 4.46546 8.27769 4.84713C8.8306 5.74719 10.8183 8.22642 11.9144 9.56103C12.1988 9.90732 12.109 10.4209 11.7318 10.6538C11.4177 10.8477 11.0086 10.7789 10.7752 10.493L6.35713 5.07902C6.24542 4.93789 6.01345 4.71331 5.73755 4.58523C5.47863 4.46504 5.22057 4.44253 4.95251 4.60523C4.76194 4.7209 4.68829 4.90186 4.72262 5.17091C4.75965 5.46123 4.92216 5.76372 5.09534 5.93347C5.10117 5.93919 5.10686 5.94504 5.11241 5.95104L10.3924 11.6597C10.5922 11.8757 10.6278 12.1967 10.4802 12.4513C10.2567 12.8366 9.72658 12.901 9.41744 12.5803L4.9154 7.9097C4.54805 7.60786 4.06613 7.63632 3.74826 7.96955C3.3915 8.34354 3.41248 8.9032 3.8612 9.34511C3.87699 9.36066 3.89842 9.38176 3.92507 9.40798C4.25046 9.7282 5.35296 10.8132 6.45435 11.9176C7.04993 12.5147 7.64689 13.1193 8.12115 13.6124C8.35809 13.8587 8.56637 14.0793 8.72931 14.2583C8.75355 14.2849 8.77733 14.3112 8.80048 14.337C8.83054 14.3685 8.85884 14.3988 8.88512 14.4276C8.96251 14.5123 9.07178 14.6357 9.12969 14.7532C9.24556 14.9884 9.16011 15.2732 8.93389 15.4057C8.70767 15.5382 8.41752 15.4735 8.26906 15.2574C8.24563 15.2233 8.18035 15.1438 8.06568 15.0155C8.00065 14.9477 7.92269 14.8693 7.83373 14.7821C7.57509 14.5286 7.23996 14.2169 6.89823 13.9057C6.21324 13.2821 5.5209 12.6781 5.3964 12.5745C5.21335 12.4223 4.93433 12.3195 4.67649 12.3109C4.40772 12.3019 4.29877 12.3907 4.26647 12.4452C4.06265 12.7888 4.11407 13.086 4.25886 13.362C4.39106 13.614 4.57568 13.8018 4.71294 13.9414C4.74164 13.9706 4.76828 13.9977 4.79193 14.0228C4.86449 14.1 5.03444 14.2528 5.31361 14.4989C5.36041 14.5401 5.4097 14.5835 5.46134 14.629C5.70646 14.8448 6.00469 15.1073 6.34136 15.4105C7.15738 16.1456 8.20461 17.1251 9.30848 18.2947C10.9491 20.033 12.9968 20.4858 13.7567 20.5001C14.0328 20.5053 14.2524 20.7333 14.2472 21.0094C14.2421 21.2855 14.014 21.5051 13.7379 21.4999C12.7515 21.4814 10.4334 20.9435 8.58123 18.9811C7.50216 17.8377 6.47617 16.8779 5.67205 16.1535C5.34008 15.8545 5.04683 15.5963 4.8018 15.3807C4.74977 15.3349 4.6999 15.291 4.65231 15.249C4.39087 15.0185 4.17639 14.8279 4.06364 14.7081C4.05434 14.6982 4.04015 14.684 4.02196 14.6659C3.89714 14.5412 3.58418 14.2285 3.37332 13.8265C3.11667 13.3373 2.97735 12.6583 3.4064 11.935C3.64521 11.5324 4.05352 11.3637 4.43959 11.3215C3.87212 10.7589 3.41449 10.3085 3.22346 10.1205C3.19681 10.0943 3.17536 10.0732 3.15951 10.0576C2.40833 9.31781 2.21231 8.13092 3.02468 7.27931C3.41751 6.8675 3.93388 6.67687 4.44551 6.70274L4.38593 6.63833C4.06107 6.3153 3.79634 5.81234 3.73065 5.29745C3.66162 4.75631 3.81301 4.12709 4.43363 3.75038C5.06127 3.36942 5.68602 3.45882 6.15861 3.6782C6.5679 3.8682 6.89051 4.16408 7.08152 4.38606C7.06079 4.14764 7.08719 3.92222 7.14955 3.71474C7.28637 3.25956 7.58304 2.93373 7.83463 2.76211C8.47669 2.32414 9.80314 2.32736 10.5449 3.62536C11.0921 4.58302 13.3294 7.70211 14.3974 9.16479C14.5347 9.35276 14.7279 9.57598 14.938 9.72726C15.1536 9.88259 15.303 9.90526 15.4061 9.87505C15.5717 9.82653 15.7261 9.66829 15.8579 9.3064C15.9722 8.99272 16.0314 8.63366 16.0886 8.28616C16.0966 8.23758 16.1046 8.18922 16.1127 8.14125C16.1873 7.69779 16.4227 7.06431 16.8608 6.52894C17.3081 5.9822 17.9892 5.5152 18.9295 5.5041C19.3892 5.49868 19.7796 5.6096 20.0657 5.86246C20.3528 6.11615 20.4643 6.45034 20.4922 6.74737C20.5197 7.04028 20.4705 7.32902 20.4036 7.56042C20.3378 7.78792 20.2422 8.00367 20.1412 8.15011C20.0427 8.29289 19.7733 8.74777 19.5663 9.36742C19.3594 9.98677 19.2264 10.7358 19.3574 11.4864C19.3999 11.7301 19.4509 11.9827 19.5037 12.2441C19.8064 13.7444 20.1675 15.5339 19.328 17.5977C18.9401 18.5512 18.4379 19.3237 17.9122 19.8958C17.3939 20.46 16.8258 20.8577 16.2954 21.0115C16.0302 21.0884 15.7529 20.9357 15.676 20.6704C15.5991 20.4052 15.7518 20.1279 16.017 20.051C16.3103 19.966 16.7294 19.7052 17.1759 19.2192C17.6151 18.7412 18.0554 18.0721 18.4017 17.2208C19.1193 15.4568 18.8273 13.985 18.5304 12.4889C18.4758 12.2135 18.421 11.9373 18.3723 11.6584C18.2033 10.6901 18.3791 9.76508 18.6178 9.05054C18.8565 8.3363 19.1696 7.79748 19.3181 7.58217C19.3406 7.54956 19.3972 7.44079 19.4429 7.28278C19.4874 7.12868 19.5088 6.97093 19.4966 6.84084C19.4848 6.71488 19.4463 6.64957 19.4035 6.61175C19.3598 6.57311 19.2406 6.5005 18.9413 6.50403C18.3638 6.51085 17.9418 6.78688 17.6347 7.16222C17.3182 7.54894 17.1477 8.01658 17.0988 8.30721C17.0917 8.3491 17.0844 8.39382 17.0768 8.44089C17.0216 8.77924 16.9466 9.23954 16.7975 9.64869C16.6293 10.1104 16.316 10.6504 15.6874 10.8347C15.1551 10.9907 14.6797 10.7736 14.3536 10.5387C14.0218 10.2998 13.7561 9.98229 13.5898 9.7545C12.5399 8.31665 10.2589 5.14051 9.67665 4.12151ZM11.1416 10.1957C11.1413 10.1953 11.141 10.195 11.1407 10.1947Z"/>
        </svg>`,
        substack: `<svg style="margin: 15px 14px;" class="profileIcon" width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M22.539 8.242H1.46V5.406h21.08v2.836zM1.46 10.812V24L12 18.11L22.54 24V10.812H1.46zM22.54 0H1.46v2.836h21.08V0z" /></svg>`
    }
    
    %>


    <div class="container">
        <div class="userlogo">
        <% if(profile.photo) { %>
            <img src="/api/public/profile/photo/<%=profile.photo%>" alt="Profile Pic" srcset="">
        <% } else { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="teal" class="bi bi-person-circle profileIcon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
        <% } %>
        </div>
        <div class="username">
            <% if(profile.title) { %>
                <h3><%= profile.title %></h3>
            <% } else { %>
                <h3><%= myusername %></h3>
            <% } %>
        </div>
        <div class="userbio" style="font-family:'Times New Roman', Times, serif; font-weight: bold;"> <%= profile.bio %> </div>
        <div class="userbtn">

            <% for(var i=0; i < profile.links.length; i++) { %>
                <a class="btn" target="Blank" href="<%=profile.links[i].url%>">
                    <p><%=profile.links[i].title%></p>
                </a>
            <% } %>

        </div>
        <div class="box">
            <% var userhandles = Object.entries(profile.handles); %>

            <% for(val in userhandles) { %>
                <% if(userhandles[val][1]!=null && userhandles[val][1]!='') { %>

                    <% if(fontawesomeICONS[userhandles[val][0]]) { %>
                        <a href="<%= userhandles[val][1] %>" target="_blank"><i class="<%= fontawesomeICONS[userhandles[val][0]] %>"></i></a>
                    <% } else if(svgImages[userhandles[val][0]]) { %>
                        <a href="<%= userhandles[val][1] %>" target="_blank"> <%- svgImages[userhandles[val][0]]  %> </a>
                    <% } else { %>
                            <a href="<%= userhandles[val][1] %>" target="_blank"><i class="bi bi-<%= userhandles[val][0] %>"></i></a>
                    <% } %>

                <% } %>
            <% } %>
            

<!-- 
            <svg fill="white" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.67665 4.12151C9.23784 3.35363 8.58069 3.4637 8.39815 3.58821C8.30852 3.64935 8.16926 3.7962 8.10723 4.00259C8.05179 4.18702 8.04323 4.46546 8.27769 4.84713C8.8306 5.74719 10.8183 8.22642 11.9144 9.56103C12.1988 9.90732 12.109 10.4209 11.7318 10.6538C11.4177 10.8477 11.0086 10.7789 10.7752 10.493L6.35713 5.07902C6.24542 4.93789 6.01345 4.71331 5.73755 4.58523C5.47863 4.46504 5.22057 4.44253 4.95251 4.60523C4.76194 4.7209 4.68829 4.90186 4.72262 5.17091C4.75965 5.46123 4.92216 5.76372 5.09534 5.93347C5.10117 5.93919 5.10686 5.94504 5.11241 5.95104L10.3924 11.6597C10.5922 11.8757 10.6278 12.1967 10.4802 12.4513C10.2567 12.8366 9.72658 12.901 9.41744 12.5803L4.9154 7.9097C4.54805 7.60786 4.06613 7.63632 3.74826 7.96955C3.3915 8.34354 3.41248 8.9032 3.8612 9.34511C3.87699 9.36066 3.89842 9.38176 3.92507 9.40798C4.25046 9.7282 5.35296 10.8132 6.45435 11.9176C7.04993 12.5147 7.64689 13.1193 8.12115 13.6124C8.35809 13.8587 8.56637 14.0793 8.72931 14.2583C8.75355 14.2849 8.77733 14.3112 8.80048 14.337C8.83054 14.3685 8.85884 14.3988 8.88512 14.4276C8.96251 14.5123 9.07178 14.6357 9.12969 14.7532C9.24556 14.9884 9.16011 15.2732 8.93389 15.4057C8.70767 15.5382 8.41752 15.4735 8.26906 15.2574C8.24563 15.2233 8.18035 15.1438 8.06568 15.0155C8.00065 14.9477 7.92269 14.8693 7.83373 14.7821C7.57509 14.5286 7.23996 14.2169 6.89823 13.9057C6.21324 13.2821 5.5209 12.6781 5.3964 12.5745C5.21335 12.4223 4.93433 12.3195 4.67649 12.3109C4.40772 12.3019 4.29877 12.3907 4.26647 12.4452C4.06265 12.7888 4.11407 13.086 4.25886 13.362C4.39106 13.614 4.57568 13.8018 4.71294 13.9414C4.74164 13.9706 4.76828 13.9977 4.79193 14.0228C4.86449 14.1 5.03444 14.2528 5.31361 14.4989C5.36041 14.5401 5.4097 14.5835 5.46134 14.629C5.70646 14.8448 6.00469 15.1073 6.34136 15.4105C7.15738 16.1456 8.20461 17.1251 9.30848 18.2947C10.9491 20.033 12.9968 20.4858 13.7567 20.5001C14.0328 20.5053 14.2524 20.7333 14.2472 21.0094C14.2421 21.2855 14.014 21.5051 13.7379 21.4999C12.7515 21.4814 10.4334 20.9435 8.58123 18.9811C7.50216 17.8377 6.47617 16.8779 5.67205 16.1535C5.34008 15.8545 5.04683 15.5963 4.8018 15.3807C4.74977 15.3349 4.6999 15.291 4.65231 15.249C4.39087 15.0185 4.17639 14.8279 4.06364 14.7081C4.05434 14.6982 4.04015 14.684 4.02196 14.6659C3.89714 14.5412 3.58418 14.2285 3.37332 13.8265C3.11667 13.3373 2.97735 12.6583 3.4064 11.935C3.64521 11.5324 4.05352 11.3637 4.43959 11.3215C3.87212 10.7589 3.41449 10.3085 3.22346 10.1205C3.19681 10.0943 3.17536 10.0732 3.15951 10.0576C2.40833 9.31781 2.21231 8.13092 3.02468 7.27931C3.41751 6.8675 3.93388 6.67687 4.44551 6.70274L4.38593 6.63833C4.06107 6.3153 3.79634 5.81234 3.73065 5.29745C3.66162 4.75631 3.81301 4.12709 4.43363 3.75038C5.06127 3.36942 5.68602 3.45882 6.15861 3.6782C6.5679 3.8682 6.89051 4.16408 7.08152 4.38606C7.06079 4.14764 7.08719 3.92222 7.14955 3.71474C7.28637 3.25956 7.58304 2.93373 7.83463 2.76211C8.47669 2.32414 9.80314 2.32736 10.5449 3.62536C11.0921 4.58302 13.3294 7.70211 14.3974 9.16479C14.5347 9.35276 14.7279 9.57598 14.938 9.72726C15.1536 9.88259 15.303 9.90526 15.4061 9.87505C15.5717 9.82653 15.7261 9.66829 15.8579 9.3064C15.9722 8.99272 16.0314 8.63366 16.0886 8.28616C16.0966 8.23758 16.1046 8.18922 16.1127 8.14125C16.1873 7.69779 16.4227 7.06431 16.8608 6.52894C17.3081 5.9822 17.9892 5.5152 18.9295 5.5041C19.3892 5.49868 19.7796 5.6096 20.0657 5.86246C20.3528 6.11615 20.4643 6.45034 20.4922 6.74737C20.5197 7.04028 20.4705 7.32902 20.4036 7.56042C20.3378 7.78792 20.2422 8.00367 20.1412 8.15011C20.0427 8.29289 19.7733 8.74777 19.5663 9.36742C19.3594 9.98677 19.2264 10.7358 19.3574 11.4864C19.3999 11.7301 19.4509 11.9827 19.5037 12.2441C19.8064 13.7444 20.1675 15.5339 19.328 17.5977C18.9401 18.5512 18.4379 19.3237 17.9122 19.8958C17.3939 20.46 16.8258 20.8577 16.2954 21.0115C16.0302 21.0884 15.7529 20.9357 15.676 20.6704C15.5991 20.4052 15.7518 20.1279 16.017 20.051C16.3103 19.966 16.7294 19.7052 17.1759 19.2192C17.6151 18.7412 18.0554 18.0721 18.4017 17.2208C19.1193 15.4568 18.8273 13.985 18.5304 12.4889C18.4758 12.2135 18.421 11.9373 18.3723 11.6584C18.2033 10.6901 18.3791 9.76508 18.6178 9.05054C18.8565 8.3363 19.1696 7.79748 19.3181 7.58217C19.3406 7.54956 19.3972 7.44079 19.4429 7.28278C19.4874 7.12868 19.5088 6.97093 19.4966 6.84084C19.4848 6.71488 19.4463 6.64957 19.4035 6.61175C19.3598 6.57311 19.2406 6.5005 18.9413 6.50403C18.3638 6.51085 17.9418 6.78688 17.6347 7.16222C17.3182 7.54894 17.1477 8.01658 17.0988 8.30721C17.0917 8.3491 17.0844 8.39382 17.0768 8.44089C17.0216 8.77924 16.9466 9.23954 16.7975 9.64869C16.6293 10.1104 16.316 10.6504 15.6874 10.8347C15.1551 10.9907 14.6797 10.7736 14.3536 10.5387C14.0218 10.2998 13.7561 9.98229 13.5898 9.7545C12.5399 8.31665 10.2589 5.14051 9.67665 4.12151ZM11.1416 10.1957C11.1413 10.1953 11.141 10.195 11.1407 10.1947Z"/>
            </svg>

            <svg fill="white" width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M22.539 8.242H1.46V5.406h21.08v2.836zM1.46 10.812V24L12 18.11L22.54 24V10.812H1.46zM22.54 0H1.46v2.836h21.08V0z" /></svg> -->

            <!-- <a href="https://www.google.com"><i class="bi bi-envelope"></i></a>
            <i class="bi bi-<%=fontawesomeICONS['email']%>"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-github"></i>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-skype"></i>
            <i class="bi bi-signal"></i>
            <i class="fas fa-bus-alt"></i> -->
        </div>
    </div>
</body>

</html>