<% for(var i=0;i<users.length;i++){%>
<tr>
    <td><%= i+1%></td>
    <td><%= users[i].title%></td>
    <td><a style="text-decoration: none; color: black;" target="_blank"  href="<%= users[i].url%>"><%= users[i].url%></a></td>
    <!-- <td><%= users[i].gender%></td> -->
    <!-- <td><%= users[i].visibility%></td> -->
    <td>
        <a href="/dashboard/update-link?id=<%= users[i]._id%>" class="btn border-shadow update" >
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<%}%>
